/* SNSボタンリスト */
.wp-sns {
  text-align: center;
  padding: 20px 0 0;
}
/* SNSボタン */
.wp-sns li {
  display: inline-block;
  border: 1px solid #222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0 3px;
}
/* SNSボタンにマウスをあてた時の挙動 */
.wp-sns li:hover{
  position: relative;
  top: 1px;
}
/* SNSアイコン */
.wp-sns li a i {
  font-size: 19px;
  color: #222;
}
/* SNSアイコンの位置 */
.wp-sns li a i::before {
  position: relative;
  top: 9px;
}